body {
  display:flex;
  // justify-content: center;
  // align-items: center;
}
.kvadratas {
  display: flex;
  justify-content: center;
  align-items: center;
  width:150px;
  height:150px;
  background-color: darkcyan;
  margin:10px;
}
.apskritimas {
  display: flex;
  justify-content: center;
  align-items: center;
  width:150px;
  height:150px;
  border-radius: 50%;
  background-color: rgb(193, 20, 20);
  margin:10px;
}